body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.no-projection-wrapper {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-projection-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-projection-message {
  text-align: center;
  font-size: 2em;
  color: #ffffff;
  padding: 40px 60px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(0, 0, 0);
  border: 2px solid #ffffff;
  position: relative;
  overflow: hidden;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.no-projection-message p {
  margin: 25px 0 0 0;
  font-weight: 600;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  position: relative;
  z-index: 1;
}


.pulse-dot {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-top: 30px;
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 15px rgba(255, 64, 129, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 64, 129, 0);
  }
}


.no-projection-message::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 20px;
  background: linear-gradient(45deg, #ffffff, #000000, #656464);
  background-size: 200% 200%;
  z-index: -1;
  opacity: 0.3;
  animation: gradientGlow 3s ease infinite;
}

@keyframes gradientGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
